<% layout('partials/boilerplate') %>
    <div id="errorBar2">
        <h1>
            Sorry, but you aren't the owner of this listing.
        </h1>
        <div class="closeThis">
            <a href="/products">Return to Home.</a>
        </div>
    </div>