<% layout('partials/boilerplate') %>

    <div class="errorGenContainer">

        <div id="errorItems">
            <h1>You've done something we didn't plan for. Sorry about that.</h1>
            <a href="/products">Back to saftey?</a>
        </div>
    </div>