<% layout('partials/boilerplate') %>

    <div class="loginContainer">
        <div class="loginFormContainer">
            <h1>REGISTER ROUTE!!!</h1>
            <form action="/users/register" method="POST">
                <div class="userPassContainer">
                    <label for="username">Username : <input type="text" name="user[username]" id="username"></label>
                    <label for="email">Email : <input type="email" name="user[email]" id="email"></label>
                    <label for="password">Password : <input type="password" name="user[password]" id="password"></label>
                </div>

                <button>Register!</button>
            </form>
        </div>

    </div>