<% layout('partials/boilerplate') %>

    <div class="alrExistsContainer">
        <p>
        <div id="thisisherebcempty">
            <h2>You already have this in your cart.</h2>
            <h2>You can either <a href="/cart">view your cart</a> or <a href="/products">continue shopping.</a></h2>
        </div>
        </p>
    </div>