<% layout('partials/boilerplate') %>

    <div class="continueContainer">
        <div class="continueItemsContainer">
            <h1>Just added that to your cart!</h1>
            <h1>You can either</h1>
            <h2><a href="/products">continue shopping</a></h2>
            <h2>or you can</h2>
            <h2><a href="/cart">view your cart.</a></h2>
        </div>
    </div>